.card {
  align-items: center;
  background-color: var(--color-black-pale);
  border-radius: 8px;
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  font: 200 1.75rem/1 Roboto Mono, monospace;
  height: 6rem;
  justify-content: center;
  width: 4rem;
}

.card.active,
.card:hover {
  background-color: var(--color-primary-pale);
  color: var(--color-primary);
}
