.button {
  align-items: center;
  border-radius: 2.5rem;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  height: 2.5rem;
  padding: 0 1.5rem;
}

.default {
  background-color: var(--color-primary);
  color: #fff;
}

.ghost {
  background-color: transparent;
}
