@import "modern-normalize";

* {
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

html {
  --color-primary: hsl(250, 100%, 69%);
  --color-primary-pale: hsl(248, 100%, 97%);
  --color-black: hsl(0, 0%, 20%);
  --color-black-pale: hsl(0, 0%, 92%);

  -webkit-tap-highlight-color: transparent;
  font: 16px/1.5 Roboto, sans-serif;
  tab-size: 4;
}

body {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

small {
  font-size: 0.75em;
}

ul,
ol {
  list-style: none;
}

input,
button,
select,
textarea {
  border: 0;
  color: inherit;
  display: inline-block;
  font: inherit;
  line-height: inherit;
}

:focus {
  outline: var(--color-black) dotted 1px;
}

svg:not([fill]) {
  fill: currentColor;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
